@if (empleados.length > 0) {
    <h2 class="text-center mb-4">Lista de Empleados</h2>
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (empleado of empleados; track $index) {
          <tr>
            <td>{{empleado.cedula}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.email}}</td>
            <td>
              <!-- Botón de actualizar solo con ícono -->
              <button class="btn btn-primary btn-sm" (click)="navigateToUpdate(empleado.cedula ?? 0)" title="Actualizar">
                <i class="fas fa-pencil-alt"></i> <!-- Ícono de lápiz de FontAwesome -->
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } @else {
    <div class="text-center mt-5">
      <p class="text-muted">Lo sentimos, no hay datos en el sistema</p>
    </div>
  }
  