@if (empleados.length > 0) {

    <h2 class="text-center mb-4">Lista de Empleados</h2>

<table class="table table-striped">

    <thead class="table-dark">
       <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
       </tr>
    </thead>

    <tbody>
       @for (empleado of empleados; track $index) {
        <tr>
            <td>{{empleado.cedula}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.email}}</td>

        </tr>
       }
    </tbody>

</table>
} @else{
     <div>Lo sentimos, no hay datos en el sistema</div>
}