<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <!-- Logo o título de la app -->
    <a class="navbar-brand" href="#">Administración de Empleados</a>
    
    <!-- Botón colapsable para pantallas pequeñas -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            routerLink="empleados"
            routerLinkActive="active"
            class="nav-link"
          >
            Ver Empleados
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="registrar"
            routerLinkActive="active"
            class="nav-link"
          >
            Añadir Empleado
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- Título principal con margen inferior -->
  <h1 class="text-center mb-5">{{ title }}</h1> <!-- mb-5 añade más espacio debajo del título -->
  
  <!-- Contenedor principal del contenido dinámico -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Aquí se cargan los componentes según las rutas -->
      <router-outlet></router-outlet>
      <p>asdas</p>
    </div>
  </div>
</div>
